<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.organization %>'s Order</h1>
    <ol>

      <li> Organization - <%= @order.organization %> </li>
      <li> Requested Restaurant - <%= @order.restaurant %> </li>
      <li> Date - <%= @order.date %> </li>
      <li> Contact Name - <%= @order.contact_name %> </li>
      <li> Contact Email - <%= @order.contact_email %> </li>
      <li> Contact Phone - <%= @order.contact_phone %> </li>
      <li> Event Name - <%= @order.event_name %> </li>
      <li> Estimated Attendees - <%= @order.attendees %> </li>
    </ol>


  </body>
</html>