<!DOCTYPE html>
<html>
<head>
  <title>Berkeley Sponsors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag "application" %>
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content='Berkeley Sponsors' name='description'>
  <meta content='Berkeley Sponsors' name='Amrit Ayalur'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
